.card {
  background: var(--white);
  border-radius: 8px;
  padding: 16px;
  width: 220px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 16px;
  color: var(--text-color);
}

.section {
  margin-bottom: 16px;
}

.sectionTitle {
  font-size: 13px;
  font-weight: 600;
  color: #707176;
  margin: 0 0 8px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  border: none;
  border-top: 1px solid #f0f0f0;
  margin: 16px 0;
}

.resetBtn {
  width: 100%;
  border:none;
  margin-top: 10px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switchLabel {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.868);
  font-weight: 600;
}