.alert {
  margin-bottom: 16px;
    width: 512px;
  background-color: #F9F1E6;
  border: none;
  border-radius: 16px;
  font-weight: 600;
  font-size: 22px;
  padding: 12px 16px;
}

.list {
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
}

.listItem {
  padding: 2px 0;
  color: #000000;
   font-size: 14px;
  font-weight: 400;
}

.listItem::before {
  content: '• ';
}
.description{
  font-size: 14px;
  font-weight: 400;

}
